<%= form_for(@trails_info) do |f| %>
  <% if @trails_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trails_info.errors.count, "error") %> prohibited this trails_info from being saved:</h2>

      <ul>
      <% @trails_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% @trails_info.attributes.each do |attribute| %>
    <div class="field">
      <%= f.label attribute[0] %><br>
      <%= f.text_field attribute[0] %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
