<p id="notice"><%= notice %></p>

<p>
  <strong>Trail system:</strong>
  <%= @trails_info.trail_system %>
</p>

<p>
  <strong>Trail subsystem:</strong>
  <%= @trails_info.trail_subsystem %>
</p>

<p>
  <strong>Trail color:</strong>
  <%= @trails_info.trail_color %>
</p>

<p>
  <strong>Trail surface:</strong>
  <%= @trails_info.trail_surface %>
</p>

<p>
  <strong>Trail type:</strong>
  <%= @trails_info.trail_type %>
</p>

<p>
  <strong>Trail difficulty:</strong>
  <%= @trails_info.trail_difficulty %>
</p>

<p>
  <strong>Regional trail name:</strong>
  <%= @trails_info.regional_trail_name %>
</p>

<p>
  <strong>Trail desc:</strong>
  <%= @trails_info.trail_desc %>
</p>

<p>
  <strong>Gps:</strong>
  <%= @trails_info.gps %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @trails_info.comment %>
</p>

<p>
  <strong>Alt name:</strong>
  <%= @trails_info.alt_name %>
</p>

<p>
  <strong>Cambr name:</strong>
  <%= @trails_info.cambr_name %>
</p>

<p>
  <strong>On street:</strong>
  <%= @trails_info.on_street %>
</p>

<p>
  <strong>Crossing type:</strong>
  <%= @trails_info.crossing_type %>
</p>

<p>
  <strong>Unrecognized:</strong>
  <%= @trails_info.unrecognized %>
</p>

<p>
  <strong>Length mi:</strong>
  <%= @trails_info.length_mi %>
</p>

<p>
  <strong>Trails:</strong>
  <%= @trails_info.trails_id %>
</p>

<p>
  <strong>Off fpdcc:</strong>
  <%= @trails_info.off_fpdcc %>
</p>

<p>
  <strong>Web trail:</strong>
  <%= @trails_info.web_trail %>
</p>

<p>
  <strong>Maintenance:</strong>
  <%= @trails_info.maintenance %>
</p>

<p>
  <strong>Length ft:</strong>
  <%= @trails_info.length_ft %>
</p>

<p>
  <strong>Trail info:</strong>
  <%= @trails_info.trail_info_id %>
</p>

<%= link_to 'Edit', edit_trails_info_path(@trails_info) %> |
<%= link_to 'Back', trails_infos_path %>
