<%= form_for(@parking_entrance_info) do |f| %>
  <% if @parking_entrance_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parking_entrance_info.errors.count, "error") %> prohibited this parking_entrance_info from being saved:</h2>

      <ul>
      <% @parking_entrance_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parking_entrance_id %><br>
    <%= f.number_field :parking_entrance_id %>
  </div>
  <div class="field">
    <%= f.label :multi_entrance %><br>
    <%= f.text_field :multi_entrance %>
  </div>
  <div class="field">
    <%= f.label :private_lot %><br>
    <%= f.text_field :private_lot %>
  </div>
  <div class="field">
    <%= f.label :lot %><br>
    <%= f.number_field :lot %>
  </div>
  <div class="field">
    <%= f.label :zone_name %><br>
    <%= f.text_field :zone_name %>
  </div>
  <div class="field">
    <%= f.label :area_name %><br>
    <%= f.text_field :area_name %>
  </div>
  <div class="field">
    <%= f.label :fpd_uid %><br>
    <%= f.text_field :fpd_uid %>
  </div>
  <div class="field">
    <%= f.label :point_type %><br>
    <%= f.text_field :point_type %>
  </div>
  <div class="field">
    <%= f.label :parking_entrance_addr %><br>
    <%= f.text_field :parking_entrance_addr %>
  </div>
  <div class="field">
    <%= f.label :trailaccess %><br>
    <%= f.text_field :trailaccess %>
  </div>
  <div class="field">
    <%= f.label :nameid %><br>
    <%= f.number_field :nameid %>
  </div>
  <div class="field">
    <%= f.label :parking_info_id %><br>
    <%= f.number_field :parking_info_id %>
  </div>
  <div class="field">
    <%= f.label :entrance_closed %><br>
    <%= f.text_field :entrance_closed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
