<p id="notice"><%= notice %></p>

<p>
  <strong>Parking entrance:</strong>
  <%= @parking_entrance_info.parking_entrance_id %>
</p>

<p>
  <strong>Multi entrance:</strong>
  <%= @parking_entrance_info.multi_entrance %>
</p>

<p>
  <strong>Private lot:</strong>
  <%= @parking_entrance_info.private_lot %>
</p>

<p>
  <strong>Lot:</strong>
  <%= @parking_entrance_info.lot %>
</p>

<p>
  <strong>Zone name:</strong>
  <%= @parking_entrance_info.zone_name %>
</p>

<p>
  <strong>Area name:</strong>
  <%= @parking_entrance_info.area_name %>
</p>

<p>
  <strong>Fpd uid:</strong>
  <%= @parking_entrance_info.fpd_uid %>
</p>

<p>
  <strong>Point type:</strong>
  <%= @parking_entrance_info.point_type %>
</p>

<p>
  <strong>Parking entrance addr:</strong>
  <%= @parking_entrance_info.parking_entrance_addr %>
</p>

<p>
  <strong>Trailaccess:</strong>
  <%= @parking_entrance_info.trailaccess %>
</p>

<p>
  <strong>Nameid:</strong>
  <%= @parking_entrance_info.nameid %>
</p>

<p>
  <strong>Parking info:</strong>
  <%= @parking_entrance_info.parking_info_id %>
</p>

<p>
  <strong>Entrance closed:</strong>
  <%= @parking_entrance_info.entrance_closed %>
</p>

<%= link_to 'Edit', edit_parking_entrance_info_path(@parking_entrance_info) %> |
<%= link_to 'Back', parking_entrance_infos_path %>
