<%= form_for(@alerting = Alerting.new, html: {class: "form-inline"}) do |form| %>
<% if @alerting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alerting.errors.count, "error") %> prohibited this alerting from being saved:</h2>

      <ul>
      <% @alerting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
		      <%= form.label :description, "Description" %>
		      <%= form.text_field :description %>
		      <%= form.label :link, "More Link" %>
		      <%= form.text_field :link %>
		      <%= form.hidden_field :alert_type, value: 'alert' %>	            
	          <%= form.label :starts_at %>
	          <%= form.text_field :starts_at, :placeholder => "mm/dd/yyyy", :id => "starts_at", :class => 'text_field datepicker', :value => :starts_at.try(:strftime, "%m/%d/%Y") %>
 	    	  <%= form.label :ends_at %>
 	    	  <%= form.text_field :ends_at, :placeholder => "mm/dd/yyyy", :id => "ends_at", :class => 'text_field datepicker', :value => :ends_at.try(:strftime, "%m/%d/%Y") %>
	    		<%= form.hidden_field :alertable_type, value: alertable_type %>
	    		<%= form.hidden_field :alertable_id, value: alertable.id %>
	    		 <%= form.submit %>
	    	<% end %>