
<p id="notice"><%= notice %></p>

<h1>Dashboard#poi</h1>

<h2>POIs with Active Alerts</h2>
<table>
  <thead>
    <tr>
      <th>POI #</th>
      <th>Name</th>
      <th>Active Alerts</th>
      <th>New</th>
      <!-- <th>End Date</th>
      <th>Issue</th>
      <th>Add Closure</th> -->
    </tr>
  </thead>
  <tbody>
  	<% @pointsofinterests_active.each_with_index do |poi, index| %>
  	  <tr>
  	    <td><%= poi.id %></td>
  	    <td><%= poi.name %></td>
  	    <td>Total Alerts: <%= poi.alertings.active.count %>
  	     <!--  <%= label_tag("toggle-#{poi.id}-alertings", "#{poi.alertings.count}") %>
          <%= check_box_tag("toggle-#{poi.id}-alertings", poi.id) %> -->
          <div>
          	<% if poi.alertings.active.count > 0 %>
	          	<ul class='dashboard'>
	          	<% poi.alertings.active.each do |alerting| %>
					<li class='dashboard'><%= alerting.starts_at.strftime('%m/%d/%Y') %>-<% if alerting.ends_at.present? %><%= alerting.ends_at.strftime('%m/%d/%Y') %><% else %> No end date set.<% end %> <%= alerting.alert.alert_type %>: <%= alerting.alert.description %> <%= alerting.alert.link %>
					</li>

	          	<% end %>
	          	</ul>
	        <% end %>
          </div>
  	    </td>
  	    <td>
          <%= label_tag("toggle-#{poi.id}-closure", "Add Closure", class: 'btn') %>
          <%= check_box_tag("toggle-#{poi.id}-closure", poi.id) %>
          <div>
          	<%= render partial: 'form_closure', locals: {poi: poi} %>
          </div>
          <%= label_tag("toggle-#{poi.id}-alert", "Add Alert", class: 'btn') %>
          <%= check_box_tag("toggle-#{poi.id}-alert", poi.id) %>
          <div>
          	<%= render partial: 'form_alert', locals: {poi: poi} %>
          </div>
        </td>
  	  </tr>
  	<% end %>
   
  </tbody>
</table>

<h2>POIs with no Active Alerts</h2>
<table>
  <thead>
    <tr>
      <th>POI #</th>
      <th>Name</th>
      <th>Active Alerts</th>
      <th>New</th>
      <!-- <th>End Date</th>
      <th>Issue</th>
      <th>Add Closure</th> -->
    </tr>
  </thead>
  <tbody>
  	<% @pointsofinterests_inactive.each_with_index do |poi, index| %>
  	  <tr>
  	    <td><%= poi.id %></td>
  	    <td><%= poi.name %></td>
  	    <td>Count: <%= poi.alertings.active.count %>
  	     <!--  <%= label_tag("toggle-#{poi.id}-alertings", "#{poi.alertings.count}") %>
          <%= check_box_tag("toggle-#{poi.id}-alertings", poi.id) %> -->
          <div>
          	<% if poi.alertings.active.count > 0 %>
	            <table>
	              <thead>
	                <th>Dates</th>
	                <th>Type</th>
	                <th>Issue</th>
	                <th>Edit</th>
	              </thead>
	              <tbody>
	              	<% poi.alertings.active.each do |alerting| %>
	              	  <tr>
	              	    <td><%= alerting.starts_at.strftime('%m/%d/%Y') %>-<% if alerting.ends_at.present? %><%= alerting.ends_at.strftime('%m/%d/%Y') %><% else %> No end date set.<% end %></td>
	              	    <td><%= alerting.alert.alert_type %></td>
	              	    <td><%= alerting.alert.description %></td>
	              	    <td>Future Edit Link</td>
	              	  </tr>
	              	<% end %>
	              </tbody>
	            </table>
	        <% end %>
          </div>
  	    </td>
  	    <td>
          <%= label_tag("toggle-#{poi.id}-closure", "Add Closure", class: 'btn') %>
          <%= check_box_tag("toggle-#{poi.id}-closure", poi.id) %>
          <div>
          	<%= render partial: 'form_closure', locals: {poi: poi} %>
          </div>
          <%= label_tag("toggle-#{poi.id}-alert", "Add Alert", class: 'btn') %>
          <%= check_box_tag("toggle-#{poi.id}-alert", poi.id) %>
          <div>
          	<%= render partial: 'form_alert', locals: {poi: poi} %>
          </div>
        </td>
  	  </tr>
  	<% end %>
   
  </tbody>
</table>