<h1>Dashboard#poi</h1>

<table>
  <thead>
    <tr>
      <th>POI #</th>
      <th>Name</th>
      <th>Active Alerts</th>
      <th>New</th>
      <!-- <th>End Date</th>
      <th>Issue</th>
      <th>Add Closure</th> -->
    </tr>
  </thead>
  <tbody>
  	<% @pointsofinterests.each_with_index do |poi, index| %>
  	  <tr>
  	    <td><%= poi.id %></td>
  	    <td><%= poi.name %></td>
  	    <td>Count: <%= poi.alertings.count %>
  	     <!--  <%= label_tag("toggle-#{poi.id}-alertings", "#{poi.alertings.count}") %>
          <%= check_box_tag("toggle-#{poi.id}-alertings", poi.id) %> -->
          <div>
          	<% if poi.alertings.count > 0 %>
	            <table>
	              <thead>
	                <th>Dates</th>
	                <th>Type</th>
	                <th>Issue</th>
	                <th>Edit</th>
	              </thead>
	              <tbody>
	              	<% poi.alertings.each do |alerting| %>
	              	  <tr>
	              	    <td><%= alerting.starts_at.strftime('%m/%d/%Y') %>-<%= alerting.ends_at.strftime('%m/%d/%Y') %></td>
	              	    <td><%= alerting.alert.alert_type %></td>
	              	    <td><%= alerting.alert.description %></td>
	              	    <td>Future Edit Link</td>
	              	  </tr>
	              	<% end %>
	              </tbody>
	            </table>
	        <% end %>
          </div>
  	    </td>
  	    <td>
          <%= label_tag("toggle-#{index}", "Add Closure", class: 'btn') %>
          <%= check_box_tag("toggle-#{index}", index) %>
          <div>
          	<%= form_for(@alerting = Alerting.new, html: {class: "form-inline"}) do |form| %>
	            <%= form.label :starts_at %>
	          	<%= form.text_field :starts_at_visible, :placeholder => "mm/dd/yyyy", :id => "starts_at_visible", :class => 'text_field datepicker', :value => :starts_at.try(:strftime, "%m/%d/%Y") %>
	    		<%= form.hidden_field :starts_at, id: "starts_at" %>
 	    		<%= form.label :ends_at %>
 	    		<%= form.text_field :ends_at_visible, :placeholder => "mm/dd/yyyy", :id => "ends_at_visible", :class => 'text_field datepicker', :value => :ends_at.try(:strftime, "%m/%d/%Y") %>
	    		<%= form.hidden_field :ends_at, id: "ends_at" %>
	    		<%= form.label :alert_id %>
    			<%= form.select(:alert_id, Alert.all.collect {|p| [ "#{p.alert_type} : #{p.description}", p.id ] }, {prompt: 'Issue'}) %>
	    		<%= form.hidden_field :alertable_type, value: "Pointsofinterest" %>
	    		<%= form.hidden_field :alertable_id, value: poi.id %>
	    		 <%= form.submit %>
	    	<% end %>
          </div>
          <%= label_tag("toggle-#{poi.id}-alert", "Add Alert", class: 'btn') %>
          <%= check_box_tag("toggle-#{poi.id}-alert", poi.id) %>
          <div>
          	<%= form_for(@alerting = Alerting.new, html: {class: "form-inline"}) do |form| %>
          		
	            <%= form.label :starts_at %>
	          	<%= form.text_field :starts_at_visible, :placeholder => "mm/dd/yyyy", :id => "starts_at_visible", :class => 'text_field datepicker', :value => :starts_at.try(:strftime, "%m/%d/%Y") %>
	    		<%= form.hidden_field :starts_at, id: "starts_at" %>
 	    		<%= form.label :ends_at %>
 	    		<%= form.text_field :ends_at_visible, :placeholder => "mm/dd/yyyy", :id => "ends_at_visible", :class => 'text_field datepicker', :value => :ends_at.try(:strftime, "%m/%d/%Y") %>
	    		<%= form.hidden_field :ends_at, id: "ends_at" %>
	    		<%= form.label :alert_id %>
    			<%= form.select(:alert_id, Alert.all.collect {|p| [ "#{p.alert_type} : #{p.description}", p.id ] }, {prompt: 'Issue'}) %>
	    		<%= form.hidden_field :alertable_type, value: "Pointsofinterest" %>
	    		<%= form.hidden_field :alertable_id, value: poi.id %>
	    		 <%= form.submit %>
	    	<% end %>
          </div>
        </td>
  	  </tr>
  	<% end %>
   
  </tbody>
</table>