
<p id="notice"><%= notice %></p>

<h1>Dashboard#trail</h1>

<h2>Trails with Active Alerts</h2>
<%= render partial: 'table', locals: {items: @trails_active, alertable_type: "TrailSystem"} %>

<br>
<h2>All Trail Subsystems</h2>
<div class='span12'> 
  <%= form_tag dashboard_trail_path, method: :get, class: 'form-inline' %>
    Filter: 
    <label for="name">Name</label>
    <%= text_field_tag :trail_subsystem, params[:trail_subsystem], class: 'input-mini', id:'trail_subsystem-field' %>
    <%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
    <%= link_to "Clear Search", dashboard_trail_path, :class => "btn"  %>
  </div>
<%= render partial: 'table', locals: {items: @trails, alertable_type: "TrailSystem"} %>
<%= will_paginate @trails, renderer: BootstrapPagination::Rails %>
