<%= form_for(@status) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class='h3-Edit'><%= f.label :type, "Status Type (Closure or Alert)" %></span>
    <%= f.select :type, ["alert", "closure"] %>
  </div>

  <div class="field">
    <span class='h3-Edit'><%= f.label :reason, "Reason for Closure" %></span>
    <span class='finePrint'>This field will be ignored for Alerts.</span>
    <%= f.select :reason, ["Snow / Ice", "Flooding", "Weather Conditions", "Construction", "Other"], {include_blank: true} %>
  </div>

  <div class="field">
    <span class='h3-Edit'><%= f.label :title, "Alert Title" %></span>
    <span class='finePrint'>This field will be ignored for Closures.</span>
    <%= f.text_field :title, size: 40 %>
  </div>

  <div class="field">
    <span class='h3-Edit'><%= f.label :description %></span>
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    <span class='h3-Edit'><%= f.label :start_date %></span>
    <%= f.select_date :start_date %>
  </div>

  <div class="field">
    <span class='h3-Edit'><%= f.label :end_date %></span>
    <%= f.select_date :end_date %>
  </div>

  <div class="field">
    <span class='h3-Edit'><%= f.label :statusable_type, "Status on Entrance" %></span>
    <%= form.hidden_field :statusable_type, :value => 'Trailhead' %>
  </div>

  <div class="field">
    <span class='h3-Edit'><%= f.label :statusable_id, "Entrance ID" %></span>
    <%= f.text_field :statusable_id, size: 20 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
