<%= form_for(@parking_entrance) do |f| %>
  <% if @parking_entrance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parking_entrance.errors.count, "error") %> prohibited this parking_entrance from being saved:</h2>

      <ul>
      <% @parking_entrance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% @parking_entrance.attributes.each do |attribute| %>
    <div class="field">
      <%= f.label attribute[0] %><br>
      <%= f.text_field attribute[0] %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
