<p id="notice"><%= notice %></p>

<h1>Listing Poi To Trails</h1>

<table>
  <thead>
    <tr>
      <th>Trail info</th>
      <th>Poi info</th>
      <th>Distance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poi_to_trails.each do |poi_to_trail| %>
      <tr>
        <td><%= poi_to_trail.trail_info_id %></td>
        <td><%= poi_to_trail.poi_info_id %></td>
        <td><%= poi_to_trail.distance %></td>
        <td><%= link_to 'Show', poi_to_trail %></td>
        <td><%= link_to 'Edit', edit_poi_to_trail_path(poi_to_trail) %></td>
        <td><%= link_to 'Destroy', poi_to_trail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poi to trail', new_poi_to_trail_path %>
