<p id="notice"><%= notice %></p>

<h1>Listing Alertings</h1>

<table>
  <thead>
    <tr>
      <th>Alertable type</th>
      <th>Alertable</th>
      <th>Alert</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alertings.each do |alerting| %>
      <tr>
        <td><%= alerting.alertable_type %></td>
        <td><%= alerting.alertable_id %></td>
        <td><%= alerting.alert_id %></td>
        <td><%= alerting.starts_at %></td>
        <td><%= alerting.ends_at %></td>
        <td><%= alerting.created_by %></td>
        <td><%= link_to 'Show', alerting %></td>
        <td><%= link_to 'Edit', edit_alerting_path(alerting) %></td>
        <td><%= link_to 'Destroy', alerting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alerting', new_alerting_path %>
