<p id="notice"><%= notice %></p>

<p>
  <strong>Alertable type:</strong>
  <%= @alerting.alertable_type %>
</p>

<p>
  <strong>Alertable:</strong>
  <%= @alerting.alertable_id %>
</p>

<p>
  <strong>Alert:</strong>
  <%= @alerting.alert_id %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @alerting.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @alerting.ends_at %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @alerting.created_by %>
</p>

<%= link_to 'Edit', edit_alerting_path(@alerting) %> |
<%= link_to 'Back', alertings_path %>
