<%= form_for(@poi_amenity) do |f| %>
  <% if @poi_amenity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poi_amenity.errors.count, "error") %> prohibited this poi_amenity from being saved:</h2>

      <ul>
      <% @poi_amenity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :poi_info_id %><br>
    <%= f.number_field :poi_info_id %>
  </div>
  <div class="field">
    <%= f.label :ada %><br>
    <%= f.number_field :ada %>
  </div>
  <div class="field">
    <%= f.label :bike_parking %><br>
    <%= f.number_field :bike_parking %>
  </div>
  <div class="field">
    <%= f.label :bike_rental %><br>
    <%= f.number_field :bike_rental %>
  </div>
  <div class="field">
    <%= f.label :birding %><br>
    <%= f.number_field :birding %>
  </div>
  <div class="field">
    <%= f.label :boat_ramp %><br>
    <%= f.number_field :boat_ramp %>
  </div>
  <div class="field">
    <%= f.label :boat_rental %><br>
    <%= f.number_field :boat_rental %>
  </div>
  <div class="field">
    <%= f.label :camping %><br>
    <%= f.number_field :camping %>
  </div>
  <div class="field">
    <%= f.label :canoe %><br>
    <%= f.number_field :canoe %>
  </div>
  <div class="field">
    <%= f.label :comfortstation %><br>
    <%= f.number_field :comfortstation %>
  </div>
  <div class="field">
    <%= f.label :cross_country %><br>
    <%= f.number_field :cross_country %>
  </div>
  <div class="field">
    <%= f.label :cycling %><br>
    <%= f.number_field :cycling %>
  </div>
  <div class="field">
    <%= f.label :disc_golf %><br>
    <%= f.number_field :disc_golf %>
  </div>
  <div class="field">
    <%= f.label :dog_friendly %><br>
    <%= f.number_field :dog_friendly %>
  </div>
  <div class="field">
    <%= f.label :dog_leash %><br>
    <%= f.number_field :dog_leash %>
  </div>
  <div class="field">
    <%= f.label :drinkingwater %><br>
    <%= f.number_field :drinkingwater %>
  </div>
  <div class="field">
    <%= f.label :drone %><br>
    <%= f.number_field :drone %>
  </div>
  <div class="field">
    <%= f.label :ecological %><br>
    <%= f.number_field :ecological %>
  </div>
  <div class="field">
    <%= f.label :equestrian %><br>
    <%= f.number_field :equestrian %>
  </div>
  <div class="field">
    <%= f.label :fishing %><br>
    <%= f.number_field :fishing %>
  </div>
  <div class="field">
    <%= f.label :ice_fishing %><br>
    <%= f.number_field :ice_fishing %>
  </div>
  <div class="field">
    <%= f.label :gas_powered %><br>
    <%= f.number_field :gas_powered %>
  </div>
  <div class="field">
    <%= f.label :golf %><br>
    <%= f.number_field :golf %>
  </div>
  <div class="field">
    <%= f.label :hiking %><br>
    <%= f.number_field :hiking %>
  </div>
  <div class="field">
    <%= f.label :indoor_rental %><br>
    <%= f.number_field :indoor_rental %>
  </div>
  <div class="field">
    <%= f.label :large_capacity %><br>
    <%= f.number_field :large_capacity %>
  </div>
  <div class="field">
    <%= f.label :m_airplane %><br>
    <%= f.number_field :m_airplane %>
  </div>
  <div class="field">
    <%= f.label :m_boat %><br>
    <%= f.number_field :m_boat %>
  </div>
  <div class="field">
    <%= f.label :nature_center %><br>
    <%= f.number_field :nature_center %>
  </div>
  <div class="field">
    <%= f.label :natureplay %><br>
    <%= f.number_field :natureplay %>
  </div>
  <div class="field">
    <%= f.label :no_alcohol %><br>
    <%= f.number_field :no_alcohol %>
  </div>
  <div class="field">
    <%= f.label :no_parking %><br>
    <%= f.number_field :no_parking %>
  </div>
  <div class="field">
    <%= f.label :overlook %><br>
    <%= f.number_field :overlook %>
  </div>
  <div class="field">
    <%= f.label :pavillion %><br>
    <%= f.number_field :pavillion %>
  </div>
  <div class="field">
    <%= f.label :picnic_grove %><br>
    <%= f.number_field :picnic_grove %>
  </div>
  <div class="field">
    <%= f.label :shelter %><br>
    <%= f.number_field :shelter %>
  </div>
  <div class="field">
    <%= f.label :skating_ice %><br>
    <%= f.number_field :skating_ice %>
  </div>
  <div class="field">
    <%= f.label :skating_inline %><br>
    <%= f.number_field :skating_inline %>
  </div>
  <div class="field">
    <%= f.label :sledding %><br>
    <%= f.number_field :sledding %>
  </div>
  <div class="field">
    <%= f.label :snowmobile %><br>
    <%= f.number_field :snowmobile %>
  </div>
  <div class="field">
    <%= f.label :swimming %><br>
    <%= f.number_field :swimming %>
  </div>
  <div class="field">
    <%= f.label :toboggan %><br>
    <%= f.number_field :toboggan %>
  </div>
  <div class="field">
    <%= f.label :volunteer %><br>
    <%= f.number_field :volunteer %>
  </div>
  <div class="field">
    <%= f.label :zip_line %><br>
    <%= f.number_field :zip_line %>
  </div>
  <div class="field">
    <%= f.label :poi_amenity_id %><br>
    <%= f.number_field :poi_amenity_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
