<p id="notice"><%= notice %></p>

<p>
  <strong>Poi info:</strong>
  <%= @poi_amenity.poi_info_id %>
</p>

<p>
  <strong>Ada:</strong>
  <%= @poi_amenity.ada %>
</p>

<p>
  <strong>Bike parking:</strong>
  <%= @poi_amenity.bike_parking %>
</p>

<p>
  <strong>Bike rental:</strong>
  <%= @poi_amenity.bike_rental %>
</p>

<p>
  <strong>Birding:</strong>
  <%= @poi_amenity.birding %>
</p>

<p>
  <strong>Boat ramp:</strong>
  <%= @poi_amenity.boat_ramp %>
</p>

<p>
  <strong>Boat rental:</strong>
  <%= @poi_amenity.boat_rental %>
</p>

<p>
  <strong>Camping:</strong>
  <%= @poi_amenity.camping %>
</p>

<p>
  <strong>Canoe:</strong>
  <%= @poi_amenity.canoe %>
</p>

<p>
  <strong>Comfortstation:</strong>
  <%= @poi_amenity.comfortstation %>
</p>

<p>
  <strong>Cross country:</strong>
  <%= @poi_amenity.cross_country %>
</p>

<p>
  <strong>Cycling:</strong>
  <%= @poi_amenity.cycling %>
</p>

<p>
  <strong>Disc golf:</strong>
  <%= @poi_amenity.disc_golf %>
</p>

<p>
  <strong>Dog friendly:</strong>
  <%= @poi_amenity.dog_friendly %>
</p>

<p>
  <strong>Dog leash:</strong>
  <%= @poi_amenity.dog_leash %>
</p>

<p>
  <strong>Drinkingwater:</strong>
  <%= @poi_amenity.drinkingwater %>
</p>

<p>
  <strong>Drone:</strong>
  <%= @poi_amenity.drone %>
</p>

<p>
  <strong>Ecological:</strong>
  <%= @poi_amenity.ecological %>
</p>

<p>
  <strong>Equestrian:</strong>
  <%= @poi_amenity.equestrian %>
</p>

<p>
  <strong>Fishing:</strong>
  <%= @poi_amenity.fishing %>
</p>

<p>
  <strong>Ice fishing:</strong>
  <%= @poi_amenity.ice_fishing %>
</p>

<p>
  <strong>Gas powered:</strong>
  <%= @poi_amenity.gas_powered %>
</p>

<p>
  <strong>Golf:</strong>
  <%= @poi_amenity.golf %>
</p>

<p>
  <strong>Hiking:</strong>
  <%= @poi_amenity.hiking %>
</p>

<p>
  <strong>Indoor rental:</strong>
  <%= @poi_amenity.indoor_rental %>
</p>

<p>
  <strong>Large capacity:</strong>
  <%= @poi_amenity.large_capacity %>
</p>

<p>
  <strong>M airplane:</strong>
  <%= @poi_amenity.m_airplane %>
</p>

<p>
  <strong>M boat:</strong>
  <%= @poi_amenity.m_boat %>
</p>

<p>
  <strong>Nature center:</strong>
  <%= @poi_amenity.nature_center %>
</p>

<p>
  <strong>Natureplay:</strong>
  <%= @poi_amenity.natureplay %>
</p>

<p>
  <strong>No alcohol:</strong>
  <%= @poi_amenity.no_alcohol %>
</p>

<p>
  <strong>No parking:</strong>
  <%= @poi_amenity.no_parking %>
</p>

<p>
  <strong>Overlook:</strong>
  <%= @poi_amenity.overlook %>
</p>

<p>
  <strong>Pavillion:</strong>
  <%= @poi_amenity.pavillion %>
</p>

<p>
  <strong>Picnic grove:</strong>
  <%= @poi_amenity.picnic_grove %>
</p>

<p>
  <strong>Shelter:</strong>
  <%= @poi_amenity.shelter %>
</p>

<p>
  <strong>Skating ice:</strong>
  <%= @poi_amenity.skating_ice %>
</p>

<p>
  <strong>Skating inline:</strong>
  <%= @poi_amenity.skating_inline %>
</p>

<p>
  <strong>Sledding:</strong>
  <%= @poi_amenity.sledding %>
</p>

<p>
  <strong>Snowmobile:</strong>
  <%= @poi_amenity.snowmobile %>
</p>

<p>
  <strong>Swimming:</strong>
  <%= @poi_amenity.swimming %>
</p>

<p>
  <strong>Toboggan:</strong>
  <%= @poi_amenity.toboggan %>
</p>

<p>
  <strong>Volunteer:</strong>
  <%= @poi_amenity.volunteer %>
</p>

<p>
  <strong>Zip line:</strong>
  <%= @poi_amenity.zip_line %>
</p>

<p>
  <strong>Poi amenity:</strong>
  <%= @poi_amenity.poi_amenity_id %>
</p>

<%= link_to 'Edit', edit_poi_amenity_path(@poi_amenity) %> |
<%= link_to 'Back', poi_amenities_path %>
