<% classType = "warning" %>
<% alertTypeName = "ALERT" %>
<% deleteName = "Remove" %>
<% if alert.alert_type == "closure" %>
	<% classType = "danger" %>
	<% alertTypeName = "CLOSED" %>
	<% deleteName = "Reopen" %>
<% else %>
	<% if current_user.level1? %>
		<% classType = classType + " reduced-vis" %>
	<% end %>
<% end %>
<% if current_user.level1? %>
	<li class="dashboard bg-<%= classType %>"><span class="label label-<%= classType %>"><%= alertTypeName %></span> <strong><%= alert.starts_at.strftime('%m/%d/%Y') %>-<% if alert.ends_at.present? %><%= alert.ends_at.strftime('%m/%d/%Y') %><% else %> No end date set.<% end %></strong> <%= alert.description %> <%= alert.link %> <% if alert.user.level1? %><button id="edit-<%= alertable_id %>-<%= alert.id %>" data-alertable-id="<%= alertable_id %>" data-alertable_type="<%= alertable_type %>" data-alert-id="<%= alert.id %>" class="edit-button btn btn-xs btn-primary">Update</button> <%= link_to "#{deleteName}", alert, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "Are you sure you want to remove this #{alert.alert_type} '#{alert.description}'?" } %><% end %>
	</li>
<% else %>
	<li class="dashboard bg-<%= classType %>"><span class="label label-<%= classType %>"><%= alertTypeName %></span> <strong><%= alert.starts_at.strftime('%m/%d/%Y') %>-<% if alert.ends_at.present? %><%= alert.ends_at.strftime('%m/%d/%Y') %><% else %> No end date set.<% end %></strong> <%= alert.description %> <%= alert.link %> <button id="edit-<%= alertable_id %>-<%= alert.id %>" data-alertable-id="<%= alertable_id %>" data-alertable_type="<%= alertable_type %>" data-alert-id="<%= alert.id %>" class="edit-button btn btn-xs btn-primary">Update</button> <%= link_to "#{deleteName}", alert, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "Are you sure you want to remove this #{alert.alert_type} '#{alert.description}'?" } %>
	</li>
<% end %>
