<% poi_options = current_user.level1? ? Alert.poi_options_level1 : (Alert.poi_options_level1.merge(Alert.poi_options_level2)) %>
<div class="form-group">
    <%= f.hidden_field :alert_type, id: "field-alert-type-#{alertable_id}-#{alert.id}" %>
  </div>
  <div class="form-group" id="form-group-reason-<%= alertable_id %>">
    <%= f.label :reason, "Issue" %>
    <%= f.select :reason, poi_options, {prompt: "Select"}, {class: "form-control alert_reason", id: "field-reason-#{alertable_id}-#{alert.id}", "data-alertable-id" => "#{alertable_id}", "data-alert-id" => "#{alert.id}"} %>
  </div>
  <div class="form-group" id="form-group-description-<%= alertable_id %> ">
    <%= f.label :description %><br>
    <%= f.text_area :description, readonly: current_user.level1?, class: "form-control", rows: "3", id: "field-description-#{alertable_id}-#{alert.id}", "data-alertable-id" => "#{alertable_id}", "data-alert-id" => "#{alert.id}" %>
  </div>
  
  <div class="form-group">
    <%= f.label :starts_at, "Start Date" %>
    <%= f.date_select :starts_at, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ends_at, "End Date" %>
    <%= f.date_select :ends_at, class: "form-control" %>
  </div>