<%= form_for(alert, html: {class: "form-horizontal", remote: :true}) do |f| %>
  <div id="error-div-<%= alertable.id.parameterize.underscore %>-<%= alert.id %>" class='error-div'></div>
  <div class="form-group">
    <%= f.hidden_field :alert_type, value: 'alert', id: "field-alert-type-#{alertable.id.parameterize.underscore}-#{alert.id}" %>
  </div>
  <div class="form-group" id="form-group-reason-<%= alertable.id.parameterize.underscore %>">
    <%= f.label :reason, "Issue" %>
    <%= f.select :reason, Alert.trail_options, {prompt: "Select"}, {class: "form-control alert_reason", id: "field-reason-#{alertable.id.parameterize.underscore}-#{alert.id}", "data-alertable-id" => "#{alertable.id.parameterize.underscore}", "data-alert-id" => "#{alert.id}"} %>
  </div>
  <div class="form-group">
    <%= f.label 'trail_subtrails', 'Segments Impacted' %>
    <div class="row">
      <%= f.collection_check_boxes(:trail_subtrail_ids, alertable.trail_subtrails, :id, :subtrail_name) do |b| %>
        <div class="checkbox col-md-6">
          <%= b.label do %>
            <%=b.check_box + b.text %>
          <%end%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'pointsofinterests', 'Locations Impacted' %>
    <div class="row">
    <%= f.collection_check_boxes(:pointsofinterest_ids, alertable.pointsofinterests, :id, :name) do |b| %>
        <div class="checkbox col-md-6">
          <%= b.label do %>
            <%=b.check_box + b.text %>
          <%end%>
        </div>
    <% end %>
    </div>
  </div>
  <div class=" form-group input-group input-daterange">
    <%= f.label :starts_at, "Start Date" %>
    <%= f.date_select :starts_at, class: "form-control" %>
    <div class="input-group-addon">to</div>
    <%= f.label :ends_at, "End Date" %>
    <%= f.date_select :ends_at, class: "form-control" %>
  </div>

  <div class="form-group" id="form-group-description-<%= alertable.id.parameterize.underscore %> ">
    <%= f.label :description %><br>
    <%= f.text_area :description, readonly: current_user.level1?, class: "form-control", rows: "3", id: "field-description-#{alertable.id.parameterize.underscore}-#{alert.id}", "data-alertable-id" => "#{alertable.id.parameterize.underscore}", "data-alert-id" => "#{alert.id}" %>
  </div>  
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
         <%= f.hidden_field :trail_system_ids, multiple: true, value: alertable.id %>
         <%= f.hidden_field :div_id, id: "field-div_id-#{alertable.id}-#{alert.id}", value: "error-div-#{alertable.id.parameterize.underscore}-#{alert.id}" %>
      </div>
    
  </div>
  <div class="form-group">
    <%= f.submit :class => "btn btn-success", :type => "submit" %>
    <%= button_tag "Cancel", type: :reset, class: "btn btn-default cancel-button" %>
  </div>
<% end %>