<%= form_for(alert, html: {class: "form-horizontal"}) do |f| %>
  <% if alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

      <ul>
      <% alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :alert_type, value: 'alert', id: "field-alert-type-#{alertable.id}-#{alert.id}" %>
  </div>
  <div class="form-group" id="form-group-reason-<%= alertable.id %>">
    <%= f.label :reason, "Issue" %>
    <%= f.select :reason, Alert.trail_options, {prompt: "Select"}, {class: "form-control alert_reason", id: "field-reason-#{alertable.id}-#{alert.id}", "data-alertable-id" => "#{alertable.id}", "data-alert-id" => "#{alert.id}"} %>
  </div>
  <div class="form-group" id="form-group-description-<%= alertable.id %> ">
    <%= f.label :description %><br>
    <%= f.text_area :description, readonly: current_user.level1?, class: "form-control", rows: "3", id: "field-description-#{alertable.id}-#{alert.id}", "data-alertable-id" => "#{alertable.id}", "data-alert-id" => "#{alert.id}" %>
  </div>
  <div class="form-group">
    <%= f.label :starts_at, "Start Date" %>
    <%= f.date_select :starts_at, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ends_at, "End Date" %>
    <%= f.date_select :ends_at, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.fields_for :alertings do |alerting| %>
      <%= alerting.hidden_field :alertable_type, value: alertable_type %>
      <%= alerting.hidden_field :alertable_id, value: alertable.id %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit :class => "btn btn-success", :type => "submit" %>
    <%= button_tag "Cancel", type: :reset, class: "btn btn-default cancel-button" %>
  </div>
<% end %>