<% poi_options = current_user.level1? ? Alert.poi_options_level1 : (Alert.poi_options_level1.merge(Alert.poi_options_level2)) %>
<%= form_for(alert, html: {class: "form-horizontal", remote: :true}) do |f| %>
  <div id="error-div-<%= alertable.id %>-<%= alert.id %>" class='error-div'></div>
  <div class="form-group">
    <%= f.hidden_field :alert_type, id: "field-alert-type-#{alertable.id}-#{alert.id}" %>
  </div>
  <div class="form-group" id="form-group-reason-<%= alertable.id %>">
    <%= f.label :reason, "Issue" %>
    <%= f.select :reason, poi_options, {prompt: "Select"}, {class: "form-control alert_reason", id: "field-reason-#{alertable.id}-#{alert.id}", "data-alertable-id" => "#{alertable.id}", "data-alert-id" => "#{alert.id}"} %>
  </div>
  <div class="form-group" id="form-group-description-<%= alertable.id %> ">
    <%= f.label :description %><br>
    <%= f.text_area :description, readonly: current_user.level1?, class: "form-control", rows: "3", id: "field-description-#{alertable.id}-#{alert.id}", "data-alertable-id" => "#{alertable.id}", "data-alert-id" => "#{alert.id}" %>
  </div>
  <div class="form-group" id="form-group-link-<%= alertable.id.parameterize.underscore %> ">
    <%= f.label :link %><br>
    <%= f.text_field :link, readonly: current_user.level1?, class: "form-control", id: "field-description-#{alertable.id.parameterize.underscore}-#{alert.id}", "data-alertable-id" => "#{alertable.id.parameterize.underscore}", "data-alert-id" => "#{alert.id}" %>
  </div>  
  <div class=" form-group input-group input-daterange">
    <%= f.label :starts_at, "Start Date" %>
    <%= f.date_select :starts_at, class: "form-control" %>
    <div class="input-group-addon">to</div>
    <%= f.label :ends_at, "End Date" %>
    <%= f.date_select :ends_at, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :pointsofinterest_ids, multiple: true, value: alertable.id %>
    <%= f.hidden_field :div_id, id: "field-div_id-#{alertable.id}-#{alert.id}", value: "error-div-#{alertable.id}-#{alert.id}" %>
  </div>
  <div class="form-group">
    <%= f.submit :class => "btn btn-success submit-button", :type => "submit" %>
    <%= button_tag "Cancel", type: :reset, class: "btn btn-default cancel-button" %>
  </div>
<% end %>