  <h2>POI or Trail System</h2>
  <% if local_assigns.has_key? :alertable_type %>
    alertable_type " - " alertable
  <% end %>
  <%= f.fields_for :alertings do |alerting| %>
    <div class="alerting_fields">
      <div class="form-group">
        <%= alerting.label :alertable_type, "Type" %>
        <% if current_user.level1? %>
          <%= alerting.text_field :alertable_type, readonly: true %>
        <% else %>
          <%= alerting.select :alertable_type, [['POI', 'Pointsofinterest'], ['Trail System', 'TrailSystem']] %>
        <% end %>
      </div>
      <div class="form-group">
        <%= alerting.label :alertable_id, "ID" %>
        <%= alerting.text_field :alertable_id, readonly: current_user.level1? %>
      </div>
    </div>
  <% end %>