<div class="table-responsive">
  <table class="table-striped table-bordered table-hover col-md-12">
    <thead>
      <tr class="">
<!--         <% if current_user.admin? %><th>#</th><% end %>
 -->        <th>Name</th>
        <th>Active Alerts</th>
<!--         <th>Form</th>
 -->      </tr>
    </thead>
    <tbody>
    	<% items.each_with_index do |poi, index| %>
    	  <tr class="">
    	   <!--  <% if current_user.admin? %><td><%= poi.id.parameterize.underscore %></td><% end %> -->
          <td><strong><%= poi.name %></strong>
            <% if poi.try(:maintenance_div_nickname) %>
                <br>Nickname: <%= poi.maintenance_div_nickname %>
              <% end %>
            <% if poi.try(:picnicgroves) %>
              <% if poi.picnicgroves.pluck(:grove).count > 0 %>
                <br>Groves: <%= poi.picnicgroves.pluck(:grove).sort.to_sentence %>
              <% end %>
            <% end %>
          </td>
    	    <td class="col-md-6"><strong>Current:</strong>
            	<% if poi.alerts.current.length > 0 %>
                <div>
  	          	<ul class='dashboard'>
  	          	<% poi.alerts.current.each do |alert| %>
                  <%= render partial: 'alert_info', locals: {alert: alert, alertable: poi, alertable_id: poi.id, page_type: page_type} %>
  	          	<% end %>
  	          	</ul>
                </div>
              <% else %>
                none<br>
  	          <% end %>
            
            <strong>Future:</strong><!--  <%= poi.alerts.future.count %> -->
            
              <% if poi.alerts.future.length > 0 %>
                <div>
                <ul class='dashboard'>
                <% poi.alerts.future.each do |alert| %>
                  <%= render partial: 'alert_info', locals: {alert: alert, alertable_id: poi.id, alertable: poi, page_type: page_type} %>
                <% end %>
                </ul>
                </div>
              <% else %>
                none<br>
              <% end %>
            </div>
            <button id="new-<%= poi.id.parameterize.underscore %>" data-alertable-id="<%= poi.id.parameterize.underscore %>" data-alertable_type="<%= page_type %>" class="new-button btn btn-info btn-sm add-alert"><%= @create_description %></button>
            <div id="form-new-<%= poi.id.parameterize.underscore %>" class="form-new" style="display: none">
              <h3>Create Alert</h3>
              <%= render partial: "form_embed_#{page_type}", locals: {alert: @alert, alertable: poi, alertable_id: poi.id, page_type: page_type, path: {controller: "alerts", action: "create"}} %>
            </div>
    	    </td>
    	  </tr>
    	<% end %>
     
    </tbody>
  </table>
</div>