<div class="table-responsive">
  <table class="table-striped table-bordered table-hover col-md-12">
    <thead>
      <tr class="">
        <% if current_user.admin? %><th>POI #</th><% end %>
        <th>Name</th>
        <th>Maintenance</th>
        <th>Current Status</th>
        <th>Active Alerts</th>
        <th>Form</th>
        <!-- <th>End Date</th>
        <th>Issue</th>
        <th>Add Closure</th> -->
      </tr>
    </thead>
    <tbody>
    	<% items.each_with_index do |poi, index| %>
    	  <tr class="">
    	    <% if current_user.admin? %><td><%= poi.id %></td><% end %>
          <td><strong><%= poi.name %></strong>
          <% if poi.picnicgroves.pluck(:grove).count > 0 %>
            <br>Groves: <%= poi.picnicgroves.pluck(:grove).sort.to_sentence %>
          <% end %>
          </td>
          <td><%= poi.maintenance_div %></td>
          <% if poi.closed? %>
            <td class="bg-danger">Closed</td>
          <% else %>
            <td class="bg-success">Open</td>
          <% end %>
    	    <td class="col-md-6">Current:<!--  <%= poi.alerts.current.count %> -->
            <div>
            	<% if poi.alerts.current.count > 0 %>
  	          	<ul class='dashboard'>
  	          	<% poi.alerts.current.each do |alert| %>
                  <%= render partial: 'alert_info', locals: {alert: alert} %>
  	          	<% end %>
  	          	</ul>
  	          <% end %>
            </div>
            Future:<!--  <%= poi.alerts.future.count %> -->
            <div>
              <% if poi.alerts.future.count > 0 %>
                <ul class='dashboard'>
                <% poi.alerts.future.each do |alert| %>
                  <%= render partial: 'alert_info', locals: {alert: alert} %>
                <% end %>
                </ul>
              <% end %>
            </div>
            <button id="new-<%= poi.id %>" data-id="<%= poi.id %>" class="new-button btn btn-info btn-sm pull-right"><%= @create_description %></button>
    	    </td>
    	    <td id="" class="col-md-3">
            <div id="form-new-<%= poi.id %>" class="form-new" style="display: none">
              <%= @create_description %>
            	<%= render partial: 'form_embed', locals: {alertable: poi, alertable_type: alertable_type} %>
            </div>
          </td>
    	  </tr>
    	<% end %>
     
    </tbody>
  </table>
</div>