<% mypath = "#{alertable_type}_path" %>
<%= mypath %>
<table class="table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>POI #</th>
      <th>Name</th>
      <th>Maintenance</th>
      <th>Active Alerts</th>
      <th>New</th>
      <!-- <th>End Date</th>
      <th>Issue</th>
      <th>Add Closure</th> -->
    </tr>
  </thead>
  <tbody>
  	<% items.each_with_index do |poi, index| %>
  	  <tr>
  	    <td><%= poi.id %></td>
        <td><%= link_to "#{poi.name}", polymorphic_path(poi) %></td>
        <td><%= poi.maintenance_div %></td>
  	    <td>Total Alerts: <%= poi.alerts.active.count %>
  	     <!--  <%= label_tag("toggle-#{poi.id}-alerts", "#{poi.alerts.count}") %>
          <%= check_box_tag("toggle-#{poi.id}-alerts", poi.id) %> -->
          <div>
          	<% if poi.alerts.active.count > 0 %>
	          	<ul class='dashboard'>
	          	<% poi.alerts.active.each do |alert| %>
					      <li class='dashboard'><%= alert.starts_at.strftime('%m/%d/%Y') %>-<% if alert.ends_at.present? %><%= alert.ends_at.strftime('%m/%d/%Y') %><% else %> No end date set.<% end %> <%= alert.alert_type %>: <%= alert.description %> <%= alert.link %>
					       </li>
	          	<% end %>
	          	</ul>
	          <% end %>
          </div>
  	    </td>
  	    <td>
          <%= label_tag("toggle-#{poi.id}-closure", "Add Closure", class: 'btn btn-primary') %>
          <%= check_box_tag("toggle-#{poi.id}-closure", poi.id)%>
          <div>
          	<%= render partial: 'form_closure', locals: {alertable: poi, alertable_type: alertable_type} %>
          </div>
          <% if current_user.level2? or current_user.admin? %>
            <%= label_tag("toggle-#{poi.id}-alert", "Add Alert", class: 'btn btn-info') %>
            <%= check_box_tag("toggle-#{poi.id}-alert", poi.id) %>
            <%= render partial: 'form_alert', locals: {alertable: poi, alertable_type: alertable_type} %>
          <% end %>
        </td>
  	  </tr>
  	<% end %>
   
  </tbody>
</table>