<div class="table-responsive">
  <table class="table-striped table-bordered table-hover col-md-12">
    <thead>
      <tr class="">
<!--         <% if current_user.admin? %><th>#</th><% end %>
 -->        <th>Name</th>
        <th>Active Alerts</th>
        <th>Form</th>
      </tr>
    </thead>
    <tbody>
    	<% items.each_with_index do |poi, index| %>
    	  <tr class="">
    	   <!--  <% if current_user.admin? %><td><%= poi.id.parameterize.underscore %></td><% end %> -->
          <td><strong><%= poi.name %></strong>
          <% if poi.try(:picnicgroves) %>
            <% if poi.picnicgroves.pluck(:grove).count > 0 %>
              <br>Groves: <%= poi.picnicgroves.pluck(:grove).sort.to_sentence %>
            <% end %>
          <% end %>
          </td>
    	    <td class="col-md-6">Current:<!--  <%= poi.alerts.current.count %> -->
            <div>
            	<% if poi.alerts.current.count > 0 %>
  	          	<ul class='dashboard'>
  	          	<% poi.alerts.current.each do |alert| %>
                  <%= render partial: 'alert_info', locals: {alert: alert, alertable: poi, alertable_id: poi.id, alertable_type: alertable_type} %>
                  <div id="form-edit-<%= poi.id.parameterize.underscore %>-<%= alert.id %>" class="form-edit" style="display: none">
                    <h4>Edit Alert</h4>
                    <%= render partial: "form_embed_#{alertable_type}", locals: {alert: alert, alertable: poi, alertable_type: alertable_type, path: {controller: "alerts", action: "update"}} %>
                    </div>
  	          	<% end %>
  	          	</ul>
  	          <% end %>
            </div>
            Future:<!--  <%= poi.alerts.future.count %> -->
            <div>
              <% if poi.alerts.future.count > 0 %>
                <ul class='dashboard'>
                <% poi.alerts.future.each do |alert| %>
                  <%= render partial: 'alert_info', locals: {alert: alert, alertable_id: poi.id, alertable: poi, alertable_type: alertable_type} %>
                <% end %>
                </ul>
              <% end %>
            </div>
            <button id="new-<%= poi.id.parameterize.underscore %>" data-alertable-id="<%= poi.id.parameterize.underscore %>" data-alertable_type="<%= alertable_type %>" class="new-button btn btn-info btn-sm pull-right"><%= @create_description %></button>
    	    </td>
    	    <td id="form-<%= poi.id.parameterize.underscore %>" class="col-md-3">
            <div id="form-new-<%= poi.id.parameterize.underscore %>" class="form-new" style="display: none">
              <h3>Create Alert</h3>
            	<%= render partial: "form_embed_#{alertable_type}", locals: {alert: @alert, alertable: poi, alertable_type: alertable_type, path: {controller: "alerts", action: "create"}} %>
            </div>
            <% poi.alerts.current.each do |alert| %>
              <div id="form-edit-<%= poi.id.parameterize.underscore %>-<%= alert.id %>" class="form-edit" style="display: none">
                <h3>Edit Alert</h3>
                <%= render partial: "form_embed_#{alertable_type}", locals: {alert: alert, alertable: poi, alertable_type: alertable_type, path: {controller: "alerts", action: "update"}} %>
              </div>
            <% end %>
            <% poi.alerts.future.each do |alert| %>
              <div id="form-edit-<%= poi.id.parameterize.underscore %>-<%= alert.id %>" class="form-edit" style="display: none">
                <h3>Edit Alert</h3>
                <%= render partial: "form_embed_#{alertable_type}", locals: {alert: alert, alertable: poi, alertable_type: alertable_type, path: {controller: "alerts", action: "update"}} %>
              </div>
            <% end %>
          </td>
    	  </tr>
    	<% end %>
     
    </tbody>
  </table>
</div>