<div class="container">
  <h1>Alert History</h1>

  <%= link_to "Export all history", history_alerts_path(format: 'csv'), :class => "btn btn-default"  %>
  <br>

  <table class="table-striped table-bordered table-hover col-md-12">
  <thead>
    <tr>
      <th>Event ID</th>
      <th>Event Type</th>
      <th>Event Date</th>
      <th>Event User</th>
      <th>Alert ID</th>
      <th>Changes</th>
      <th>Description</th>
      <th>POIs</th>
      <th>Trails</th>
    </tr>
  </thead>
  <tbody>
    <% @versions.each do |version| %>
      <% version_object = version.reify(has_many: true) %>
      <tr>
        <td><%= version.id %></td>
        <td><%= version.event %></td>
        <td><%= l version.created_at %></td>
        <td><% if version.whodunnit and User.exists?(version.whodunnit) %><%= User.find(version.whodunnit).email %><% end %></td>
        <td><%= version.item_id %></td>
        <td><%= version.changeset %></td>
        <td><%= version.full_desc %></td>
        <td><%= version.pois %></td>
        <td><%= version.trails %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @versions, renderer: BootstrapPagination::Rails %>


</div>