<h1>New Alert</h1>

<h2>Referrer:</h2> <%= request.referrer %>
<%= request.original_url %>
<% if request.referrer.include?('poi') %>
	<%= render partial: "form_embed_Pointsofinterest", locals: {alert: @alert, alertable: @alert.pointsofinterests.first, alertable_type: 'Pointsofinterest', path: {controller: "alerts", action: "create"}} %>
<% end %>
<h2>Form Type:</h2> <%= @form_type %>
<br>
<%= link_to 'Back', :back, class: "btn btn-default" %>
