
<p id="notice"><%= notice %></p>

<h1>Alerts#poi</h1>

<h2>POIs with Current or Future Alerts</h2>
<%= render partial: 'table', locals: {items: @pointsofinterests_active, alertable_type: "Pointsofinterest"} %>

<br>
<h2>All POIs</h2>
<div class='span12'> 
  
</div>
<%= search_form_for @q, url: request.path do |f| %>
	<%= f.label :name_cont %>
  	<%= f.search_field :name_cont %>
	<%= f.submit class: "btn btn-success" %>
	<%= link_to 'Clear Search', request.path, class: "btn btn-default" %>
<% end %>
<%= render partial: 'table', locals: {items: @pointsofinterests, alertable_type: "Pointsofinterest"} %>

<%= will_paginate @pointsofinterests, renderer: BootstrapPagination::Rails %>
