<%= form_for(@pointsofinterest) do |f| %>
  <% if @pointsofinterest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pointsofinterest.errors.count, "error") %> prohibited this pointsofinterest from being saved:</h2>

      <ul>
      <% @pointsofinterest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @pointsofinterest.attributes.each do |attribute| %>
    <div class="field">
      <%= f.label attribute[0] %><br>
      <%= f.text_field attribute[0] %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
