<p id="notice"><%= notice %></p>

<h1>Listing Pointsofinterests</h1>

<table>
  <thead>
    <tr>
      <th>Pointsofinterest</th>
      <th>Geom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pointsofinterests.each do |pointsofinterest| %>
      <tr>
        <td><%= pointsofinterest.pointsofinterest_id %></td>
        <td><%= pointsofinterest.geom %></td>
        <td><%= link_to 'Show', pointsofinterest %></td>
        <td><%= link_to 'Edit', edit_pointsofinterest_path(pointsofinterest) %></td>
        <td><%= link_to 'Destroy', pointsofinterest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pointsofinterest', new_pointsofinterest_path %>
