<%= form_for(@picnicgrofe) do |f| %>
  <% if @picnicgrofe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picnicgrofe.errors.count, "error") %> prohibited this picnicgrofe from being saved:</h2>

      <ul>
      <% @picnicgrofe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% @picnicgrofe.attributes.each do |attribute| %>
    <div class="field">
      <%= f.label attribute[0] %><br>
      <%= f.text_field attribute[0] %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
