<p id="notice"><%= notice %></p>

<h1>Listing Picnicgroves</h1>

<table>
  <thead>
    <tr>
      <th>Picnicgrove</th>
      <th>Preserve name</th>
      <th>Grove</th>
      <th>Division</th>
      <th>Capacity</th>
      <th>Large capacity</th>
      <th>Type</th>
      <th>Location</th>
      <th>Status</th>
      <th>Fpd uid</th>
      <th>Poi info</th>
      <th>Geom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @picnicgroves.each do |picnicgrofe| %>
      <tr>
        <td><%= picnicgrofe.picnicgrove_id %></td>
        <td><%= picnicgrofe.preserve_name %></td>
        <td><%= picnicgrofe.grove %></td>
        <td><%= picnicgrofe.division %></td>
        <td><%= picnicgrofe.capacity %></td>
        <td><%= picnicgrofe.large_capacity %></td>
        <td><%= picnicgrofe.picnicgrove_type %></td>
        <td><%= picnicgrofe.location %></td>
        <td><%= picnicgrofe.status %></td>
        <td><%= picnicgrofe.fpd_uid %></td>
        <td><%= picnicgrofe.poi_info_id %></td>
        <td><%= picnicgrofe.geom %></td>
        <td><%= link_to 'Show', picnicgrofe %></td>
        <td><%= link_to 'Edit', edit_picnicgrofe_path(picnicgrofe) %></td>
        <td><%= link_to 'Destroy', picnicgrofe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picnicgrofe', new_picnicgrofe_path %>
