
Filename: <%= @update.filename %>
<div id='testdiv'></div>
<br>
<%= render partial: "update_info" %>

<%= render partial: "form_approval" %>

<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
