<%= form_for(@poi_info) do |f| %>
  <% if @poi_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poi_info.errors.count, "error") %> prohibited this poi_info from being saved:</h2>

      <ul>
      <% @poi_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :poi_info_id %><br>
    <%= f.number_field :poi_info_id %>
  </div>
  <div class="field">
    <%= f.label :point_type %><br>
    <%= f.text_field :point_type %>
  </div>
  <div class="field">
    <%= f.label :addr %><br>
    <%= f.text_field :addr %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :zipmuni %><br>
    <%= f.text_field :zipmuni %>
  </div>
  <div class="field">
    <%= f.label :municipality %><br>
    <%= f.text_field :municipality %>
  </div>
  <div class="field">
    <%= f.label :public_access %><br>
    <%= f.text_field :public_access %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :commdist %><br>
    <%= f.number_field :commdist %>
  </div>
  <div class="field">
    <%= f.label :zone_name %><br>
    <%= f.text_field :zone_name %>
  </div>
  <div class="field">
    <%= f.label :zonemapno %><br>
    <%= f.number_field :zonemapno %>
  </div>
  <div class="field">
    <%= f.label :dwmapno %><br>
    <%= f.number_field :dwmapno %>
  </div>
  <div class="field">
    <%= f.label :nameid %><br>
    <%= f.number_field :nameid %>
  </div>
  <div class="field">
    <%= f.label :pointsofinterest_id %><br>
    <%= f.number_field :pointsofinterest_id %>
  </div>
  <div class="field">
    <%= f.label :fpd_uid %><br>
    <%= f.number_field :fpd_uid %>
  </div>
  <div class="field">
    <%= f.label :web_poi %><br>
    <%= f.text_field :web_poi %>
  </div>
  <div class="field">
    <%= f.label :web_street_addr %><br>
    <%= f.text_field :web_street_addr %>
  </div>
  <div class="field">
    <%= f.label :web_muni_addr %><br>
    <%= f.text_field :web_muni_addr %>
  </div>
  <div class="field">
    <%= f.label :parking_connection_id %><br>
    <%= f.number_field :parking_connection_id %>
  </div>
  <div class="field">
    <%= f.label :parking_info_id %><br>
    <%= f.number_field :parking_info_id %>
  </div>
  <div class="field">
    <%= f.label :alt_nameid %><br>
    <%= f.number_field :alt_nameid %>
  </div>
  <div class="field">
    <%= f.label :alt2_nameid %><br>
    <%= f.number_field :alt2_nameid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
