<p id="notice"><%= notice %></p>

<p>
  <strong>Poi info:</strong>
  <%= @poi_info.poi_info_id %>
</p>

<p>
  <strong>Point type:</strong>
  <%= @poi_info.point_type %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @poi_info.addr %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @poi_info.zip %>
</p>

<p>
  <strong>Zipmuni:</strong>
  <%= @poi_info.zipmuni %>
</p>

<p>
  <strong>Municipality:</strong>
  <%= @poi_info.municipality %>
</p>

<p>
  <strong>Public access:</strong>
  <%= @poi_info.public_access %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @poi_info.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @poi_info.longitude %>
</p>

<p>
  <strong>Commdist:</strong>
  <%= @poi_info.commdist %>
</p>

<p>
  <strong>Zone name:</strong>
  <%= @poi_info.zone_name %>
</p>

<p>
  <strong>Zonemapno:</strong>
  <%= @poi_info.zonemapno %>
</p>

<p>
  <strong>Dwmapno:</strong>
  <%= @poi_info.dwmapno %>
</p>

<p>
  <strong>Nameid:</strong>
  <%= @poi_info.nameid %>
</p>

<p>
  <strong>Pointsofinterest:</strong>
  <%= @poi_info.pointsofinterest_id %>
</p>

<p>
  <strong>Fpd uid:</strong>
  <%= @poi_info.fpd_uid %>
</p>

<p>
  <strong>Web poi:</strong>
  <%= @poi_info.web_poi %>
</p>

<p>
  <strong>Web street addr:</strong>
  <%= @poi_info.web_street_addr %>
</p>

<p>
  <strong>Web muni addr:</strong>
  <%= @poi_info.web_muni_addr %>
</p>

<p>
  <strong>Parking connection:</strong>
  <%= @poi_info.parking_connection_id %>
</p>

<p>
  <strong>Parking info:</strong>
  <%= @poi_info.parking_info_id %>
</p>

<p>
  <strong>Alt nameid:</strong>
  <%= @poi_info.alt_nameid %>
</p>

<p>
  <strong>Alt2 nameid:</strong>
  <%= @poi_info.alt2_nameid %>
</p>

<%= link_to 'Edit', edit_poi_info_path(@poi_info) %> |
<%= link_to 'Back', poi_infos_path %>
