<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activities_id %><br>
    <%= f.text_field :activities_id %>
  </div>
  <div class="field">
    <%= f.label :activity_type %><br>
    <%= f.text_field :activity_type %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <span class='h3-Edit'><%= f.label :location %></span>
    <span class='formAnswer'><%= @activity.geom %></span>
  </div>
  <div class="field">
    <%= f.label :parking_entrance_id %><br>
    <%= f.text_field :parking_entrance_id %>
  </div>
  <div class="field">
    <%= f.label :nameid %><br>
    <%= f.text_field :nameid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
