<%= form_for(@trail_system) do |f| %>
  <% if @trail_system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trail_system.errors.count, "error") %> prohibited this trail_system from being saved:</h2>

      <ul>
      <% @trail_system.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% @trail_system.attributes.each do |attribute| %>
    <div class="field">
      <%= f.label attribute[0] %><br>
      <%= f.text_field attribute[0] %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
