
<h1>Listing Poi Descs</h1>

<table class="table-striped table-bordered table-hover">
  <thead>
    <tr>
      <% for column in PoiDesc.column_names %>
        <th><%= column %></th>
      <% end %>
      <th colspan="3">Make Changes</th>
    </tr>
  </thead>
  <tbody>
    <% @poi_descs.each do |poi_desc| %>
      <tr>
        <% poi_desc.attributes.each do |attribute| %>
          <td><%= attribute[1] %></td>
        <% end %>
        <td><%= link_to 'Show', poi_desc %></td>
        <td><%= link_to 'Edit', edit_poi_desc_path(poi_desc) %></td>
        <td><%= link_to 'Destroy', poi_desc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<%= will_paginate @poi_descs, renderer: BootstrapPagination::Rails %>


<br>

<%= link_to 'New Poi desc', new_poi_desc_path %>
