<p id="notice"><%= notice %></p>

<p>
  <strong>Poi info:</strong>
  <%= @poi_desc.poi_info_id %>
</p>

<p>
  <strong>Hours1:</strong>
  <%= @poi_desc.hours1 %>
</p>

<p>
  <strong>Hours2:</strong>
  <%= @poi_desc.hours2 %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @poi_desc.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @poi_desc.description %>
</p>

<p>
  <strong>Web link:</strong>
  <%= @poi_desc.web_link %>
</p>

<p>
  <strong>Map link:</strong>
  <%= @poi_desc.map_link %>
</p>

<p>
  <strong>Map link spanish:</strong>
  <%= @poi_desc.map_link_spanish %>
</p>

<p>
  <strong>Vol link:</strong>
  <%= @poi_desc.vol_link %>
</p>

<p>
  <strong>Vol link2:</strong>
  <%= @poi_desc.vol_link2 %>
</p>

<p>
  <strong>Picnic link:</strong>
  <%= @poi_desc.picnic_link %>
</p>

<p>
  <strong>Event link:</strong>
  <%= @poi_desc.event_link %>
</p>

<p>
  <strong>Custom link:</strong>
  <%= @poi_desc.custom_link %>
</p>

<p>
  <strong>Season1:</strong>
  <%= @poi_desc.season1 %>
</p>

<p>
  <strong>Season2:</strong>
  <%= @poi_desc.season2 %>
</p>

<p>
  <strong>Special hours:</strong>
  <%= @poi_desc.special_hours %>
</p>

<p>
  <strong>Special description:</strong>
  <%= @poi_desc.special_description %>
</p>

<p>
  <strong>Special link:</strong>
  <%= @poi_desc.special_link %>
</p>

<p>
  <strong>Photo link:</strong>
  <%= @poi_desc.photo_link %>
</p>

<p>
  <strong>Poi desc:</strong>
  <%= @poi_desc.poi_desc_id %>
</p>

<%= link_to 'Edit', edit_poi_desc_path(@poi_desc) %> |
<%= link_to 'Back', poi_descs_path %>
