<%= form_for(@new_trail) do |f| %>
  <% if @new_trail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_trail.errors.count, "error") %> prohibited this new_trail from being saved:</h2>

      <ul>
      <% @new_trail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @new_trail.attributes.each do |attribute| %>
    <div class="field">
      <%= f.label attribute[0] %><br>
      <%= f.text_field attribute[0] %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
