<!DOCTYPE html>
<html>
<head>
  <title>FPCC Alerts & Closures</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= nav_bar brand: "FPCC Alerts & Closures", brand_link: poi_alerts_path , fluid: true do %>
    <%= menu_group do %>
      <%= menu_divider %>
      <% if user_signed_in? %>
        <%= menu_item "Locations", poi_alerts_path %>
        <% if !current_user.level1? %>
          <%= menu_item "Trail Systems", trail_alerts_path %>
        <% end %>
        <% if current_user.admin? %>
          <%= menu_item "Global Alerts", global_alerts_path %>
          <%= menu_item "All Alerts", alerts_path %>
          <%= drop_down "Trails" do %>
            <%= menu_item "Trails Geometry", new_trails_path %>
            <%= menu_item "Trails Info", trails_infos_path %>
            <%= menu_item "Trails Desc", trails_descs_path %>
          <% end %>
          <%= menu_item "PointsofInterest", pointsofinterests_path %>
          <%= drop_down "Activities" do %>
            <%= menu_item "Activities", activities_path %>
            <%= menu_item "Picnic Groves", picnicgroves_path %>
          <% end %>
        <% end %>
        <%= drop_down "Hi, #{current_user.email}" do %>
          <% if current_user.admin? %>
            <%= menu_item "Manage Users", users_path %>
          <% end %>
          <%= menu_item 'Edit Account', edit_user_registration_path %>
          <%= menu_item 'Logout', destroy_user_session_path, :method => :delete %>
        <% end %>
      <% else %>
        <%= menu_item 'Login', new_user_session_path  %>
      <% end %>          
    <% end %>
  <% end %>
  
  <div id="page-container" class="container-main container center-block">
    <%= query_diet_widget if Rails.env.development_fpcc? %>
    <div id="notifications">
      <% if flash[:notice] || flash[:alert] || flash[:error] || flash[:success] %>
          <div class="alert <%= flash[:notice].present? ? "alert-success" : "alert-error" %>">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:alert] %>
              <%= flash[:notice] %>
              <%= flash[:error] %>
              <%= flash[:success] %>
          </div>
      <% end %>
    </div> <!-- notifications -->

    <%= yield %>
  </div>
</body>
</html>
