<!DOCTYPE html>
<html>
<head>
  <title>To The Trails Administration</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= nav_bar :fixed => :top, :brand => "Cook County Forest Preserves Map", :responsive => true do %>
    <%= menu_group do %>
      <%= menu_item "Home", root_path %>
      <%= menu_divider %>
      <% if user_signed_in? %>
        <%= drop_down "Trails" do %>
          <%= menu_item "Trails Geometry", new_trails_path %>
          <%= menu_item "Trails Info", trails_infos_path %>
          <%= menu_item "Trails Desc", trails_descs_path %>
        <% end %>
        <%= drop_down "Entrances/POIs" do %>
          <%= menu_item "POI Info", poi_infos_path %>
          <%= menu_item "POI Desc", poi_descs_path %>
          <%= menu_item "POI Amenity", poi_amenities_path %>
          <%= menu_item "POI to Trail", poi_to_trails_path %>
          <%= menu_item "PointsofInterest Geometry", pointsofinterests_path %>
          <%= menu_item "Parking Entrance Geometry", parking_entrances_path %>
          <%= menu_item "Parking Entrance Info", parking_entrance_infos_path %>
        <% end %>
        <%= drop_down "Activities" do %>
          <%= menu_item "Activities", activities_path %>
          <%= menu_item "Picnic Groves", picnicgroves_path %>
        <% end %>
        <%= menu_item "Names", names_path %>
        <%= drop_down "Hi, #{current_user.email}" do %>
          <%= menu_item 'Edit Account', edit_user_registration_path %>
          <%= menu_item 'Logout', destroy_user_session_path, :method => :delete %>
        <% end %>
      <% else %>
        <%= menu_item 'Sign Up', new_user_registration_path %>
        <%= menu_item 'Login', new_user_session_path  %>
      <% end %>          
    <% end %>
  <% end %>
<%= yield %>
</body>
</html>
